import React, { HTMLAttributes } from "react";
import concatClasses from "src/functions/concatClasses";
import classes from "./{{ camelcase name }}.module.scss";

export type {{ camelcase name }}Props = {{#if props}}{

} & {{/if}}HTMLAttributes<HTMLElement>;

export const {{ camelcase name }}{{#if children }}: React.FC<{{ camelcase name }}Props>{{/if}} = ({ className{{#if children }}, children{{/if}}, ...props }{{#unless children}}: {{ camelcase name }}Props{{/unless}}) => {
	

	return (
		<div className={concatClasses(classes["{{ lowercase name }}"], className)} {...props}>
			{{#if children}}{children}{{/if}}
		</div>
	);
};
